@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    background-color: #141414;
    color: white;
    font-family: DM Sans;
}

header div{
    width: 880px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
}

.icon{
    width: 60px;
    height: 60px;
}

h1{
    margin: 10px;
}

.linha{
    background-color: #f28c20;
    height: 3px;
    width: 100%;
    border-radius: 3px;
}

.container{
    width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.playlist{
    width: 400px;  
}

#songs{
    height: 570px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Largura da barra */
#songs::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

/* Fundo da barra (trilho) */
#songs::-webkit-scrollbar-track {
    background: transparent;
}

/* Barra (scroll) */
#songs::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 4px;
}

.track{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px);
    border-bottom: 2px solid rgb(88, 88, 88);
    padding: 10px;
    margin: 10px;
    transition: 0.3s;
}

.track:last-child{
    border-bottom: 0;
}

.selected{
    scale: 1.05;
    border: 2px solid #f28c20;
    border-radius: 10px;
    transition: 0.3s;
}

.track:hover{
    scale: 1.03;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s;
}

.track div:first-child{
    display: flex;
}

.track div div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.track p{
    margin: 0px;
}

.track .capa{
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

#vazio{
    width: 400px;
    height: 650px;
    padding: 10px;
}

#vazio div{
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

#player{
    width: 400px;
    padding: 10px;
    display: none;
    flex-direction: column
}

#player #capa{
    width: 400px;
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border-radius: 15px;
}
.tempo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-family: DM Sans;
    font-size: 20px;
}

#progress {
    flex: 1;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #f28c20;
    cursor: pointer;
    accent-color: #f28c20; /* Para browsers que suportam */
}

#pause{
    display: none;
}

.creditos{
    color: white;
    text-align: center;
}

@media (max-width: 910px) {
    header div{
        width: 100%;
    }
    .container{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .playlist{
        width: calc(100% - 20px);
    }
    #vazio{
        display: none;
    }
    #player{
        width: calc(100vw - 56px);
        flex-direction: row
    }
    .info{
        margin-left: 20px;
        flex: 1;
        min-width: 0;
    }
    #player #capa{
        width: 230px;
    }
    .selected{
        scale: 1.02;
        border: 2px solid #f28c20;
        border-radius: 10px;
        transition: 0.3s;
    }

    .track:hover{
        scale: 1.015;
        border: 2px solid white;
        border-radius: 10px;
        transition: 0.3s;
    }
}

@media (max-width: 560px) {
    #player{
        flex-direction: column
    }
    #player #capa{
        width: 100%;
    }
    .info{
        margin: 0;
    }
}